*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: monospace;
  font-size: 16px;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
}

h1 {
  font-size: 2.5rem;
}

button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

main {
  padding: 8rem 3rem;
}

#quote {
  font-size: 1.5rem;
  font-weight: bold;
}

#author {
  color: grey;
  font-size: 1.3rem;
}
